<h1>Olá handlebars</h1>
<p>Algum texto pipipipopopo</p>
<p>o nome do arrombadin é {{user.name}} e ele tem {{user.age}} anos, vive em {{user.city}}<br>Homem: {{user.isMale}}</p>
{{#if auth}}
<p>voce está autenticado: <a href="/dashboard">clique aqui!</a></p>
{{/if}}