{{!-- home.handlebars --}}
<h1>Home</h1>

<div class="product-container">
    {{#each products}}
    <a href="/products/{{id}}" class="product">
        <div class=" product">
            <h2>{{title}}</h2>
            <img src={{image}} alt={{title}}>
        </div>
        {{/each}}
</div>