<!DOCTYPE html>
<html>

<head>
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>{{product.title}}</h1>
    <img src={{product.image}} alt="Imagem do produto">
    <p>Descrição: {{product.content}}</p>
    <p>Preço: R${{product.price}}</p>
</body>

</html>